extends ../layout/layout.pug
block content
  h1 Todo List
  a(href="/todos/new") create new todo

  form(action=searchFormPath method="get")
    input(type="text" name="title" class="form-control" placeholder="title" value=queryTitle)
    input(type="text" name="description" class="form-control" placeholder="description" value=queryDescription)
    select(name='status')
      option(value='') Please Selete Status
      for statusValue in statusValues
        option(value=statusValue.key selected=(queryStatus == statusValue.key))
          = statusValue.value
    button(class="btn btn-info btn-block" type="submit") Search
    a(class="btn btn-default btn-block" type="reset" href="/") Reset

  table
    tr
      th Title
      th Description
      th Status
      th
    each todo in todos
      tr
        td= todo.title
        td= todo.description
        td= todo.status
        td
          a(href="/todos/"+todo.id) show
        td
          a(href="/todos/"+todo.id+"/edit") edit
        td
          a(href="/todos/"+todo.id+"/delete") delete
